*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

header{
    background-color: lightskyblue;
    padding: 10px;
}

section:not(#head){
    padding:30px 0;
}



#jumbodrone{
    width: 100%;
    background-color: blue;
}

/* HEADER STRUCTURE */ 

.header_col{
    padding: 10px;
    background-color: goldenrod;
    border: 1px dashed black;
}

.logo{
    width: 20%;
}

.menu{
    width:60%;
    text-align: center;
}

.login{
    width: 20%;
    text-align: right;
}

.menu a{
    text-decoration: none;
    color: black;
}

/* FINE HEADER STRUCTURE */ 

/* JUMBODRONE SECTION */

#jumbodrone .col{
    background-color: pink;
    border: 1px dashed black;
    height: 300px;
    width: 80%;
}

/* END JUMBODRONE SECTION */

