*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

header{
    background-color: lightskyblue;
    padding: 10px;
}

section:not(#head){
    padding:30px 0;
}

main section:nth-of-type(2n+3){
    background-color: lightgray;
}

#jumbodrone{
    width: 100%;
    background-color: blue;
}

/* HEADER STRUCTURE */ 

.header_col{
    padding: 5px 10px;
    background-color: goldenrod;
    border: 1px dashed black;
}

.logo{
    width: 20%;
}

.menu{
    width:60%;
    text-align: center;
}

.login{
    width: 20%;
    text-align: right;
}

.menu a{
    text-decoration: none;
    color: black;
}

/* FINE HEADER STRUCTURE */ 

/* JUMBODRONE SECTION */

#jumbodrone .col{
    background-color: pink;
    border: 1px dashed black;
    height: 250px;
    width: 70%;
}

/* END JUMBODRONE SECTION */

/* MAIN COLLUMNS LAYOUT */

main .col_40, .col_60, .col_100{
    height: 300px;
    border: 1px dashed black;
}

.col_40{
    width: 40%;
    background-color: pink;
}

.col_60{
    width: 60%;
    background-color: rgb(25, 127, 186);
}

.col_100{
    width: 100%;
    background-color: green;
    height: 450px;
}

/* END MAIN COLLUMNS LAYOUT */

/* FOOTER OLLUMNS LAYOUT */

footer {
    background-color: black;
}

.col_15{
    height: 450px;
    width: calc(70% / 4);
    background-color: cyan;
    border: 1px dashed black;
}

.col_30{
    height: 450px;
    width: 30%;
    background-color: pink;
    border: 1px dashed black;
}

footer .col_100{
    height: fit-content;
    background-color: limegreen;
}

#end .row{
    padding: 10px 0;
    background-color: cyan;
    justify-content: space-between;
}

#end .col{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border: 1px dashed black;
    background-color: pink;
}

#end input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}